################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prototype/ProstePrototype/.vs/ProstePrototype
/prototype/ProstePrototype/ProstePrototype/bin/Debug/netcoreapp3.1
/prototype/ProstePrototype/ProstePrototype/obj
/prototype/ProstePrototype/ProstePrototype/ProstePrototype.csproj.user
/prototype/ProstePrototype/ProstePrototype/bin/Release/netcoreapp3.1
