################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prototype/ProstePrototype/.vs/ProstePrototype
/prototype/ProstePrototype/ProstePrototype/bin/Debug/netcoreapp3.1
/prototype/ProstePrototype/ProstePrototype/obj
/prototype/ProstePrototype/ProstePrototype/ProstePrototype.csproj.user
/prototype/ProstePrototype/ProstePrototype/bin/Release/netcoreapp3.1
doc/Func spec_v2  (1).docx
doc/Func spec_v2  highlighted.docx
doc/Teletek_Manager_func.docx
NewTeletekSW/.vscode
NewTeletekSW/.vs
NewTeletekSW/obj
NewTeletekSW/bin
/doc/Teletek_Manager_func (1).docx
