################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prototype/ProstePrototype/.vs/ProstePrototype
/prototype/ProstePrototype/ProstePrototype/bin
/prototype/ProstePrototype/ProstePrototype/obj
/prototype/ProstePrototype/ProstePrototype/ProstePrototype.csproj.user
/prototype/ProstePrototype/ProstePrototype/bin
NewTeletekSW/.vscode
NewTeletekSW/.vs
NewTeletekSW/obj
NewTeletekSW/bin
/doc
/prototype/ProstePrototype/ljson/bin
/prototype/ProstePrototype/ljson/obj
/prototype/ProstePrototype/ljtest/bin
/prototype/ProstePrototype/ljtest/obj
/prototype/ProstePrototype/jtest/obj/Debug/netcoreapp3.1/jtest.GeneratedMSBuildEditorConfig.editorconfig
/prototype/ProstePrototype/ljson/obj/Debug/netcoreapp3.1/ljson.csproj.AssemblyReference.cache
/prototype/ProstePrototype/lcommunicate/obj/Debug/netcoreapp3.1/lcommunicate.csproj.AssemblyReference.cache
/prototype/ProstePrototype/ljson/obj/Debug/netcoreapp3.1/ljson.GeneratedMSBuildEditorConfig.editorconfig
/prototype/ProstePrototype/common/obj/project.nuget.cache
/prototype/ProstePrototype/common/obj/common.csproj.nuget.dgspec.json
/prototype/ProstePrototype/common/obj/project.assets.json
/prototype/ProstePrototype/jtest/obj/Debug/netcoreapp3.1/apphost.exe
/prototype/ProstePrototype/jtest/obj/Debug/netcoreapp3.1/jtest.csproj.AssemblyReference.cache
/prototype/ProstePrototype/jtest/obj/jtest.csproj.nuget.dgspec.json
/prototype/ProstePrototype/jtest/obj/project.assets.json
/prototype/ProstePrototype/jtest/obj/project.nuget.cache
/prototype/ProstePrototype/lcommunicate/obj/lcommunicate.csproj.nuget.dgspec.json
/prototype/ProstePrototype/lcommunicate/obj/project.assets.json
/prototype/ProstePrototype/lcommunicate/obj/project.nuget.cache
/prototype/ProstePrototype/ljson/obj/ljson.csproj.nuget.dgspec.json
/prototype/ProstePrototype/ljson/obj/project.assets.json
/prototype/ProstePrototype/ljson/obj/project.nuget.cache
