@font-face {
    font-family: 'icoram';
    src: url('../webfonts/iconfont/icoram.eot?shyzl8');
    src: url('../webfonts/iconfont/icoram.eot?shyzl8#iefix') format('embedded-opentype'), 
        url('../webfonts/iconfont/icoram.ttf?shyzl8') format('truetype'), 
        url('../webfonts/iconfont/icoram.woff?shyzl8') format('woff'), 
        url('../webfonts/iconfont/icoram.svg?shyzl8#icoram') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.ram_icon {
    --eclipse_8-color: #0064ff;
    --tte_combo-color: #87d23d;
    --iris_panel-color: #ff484b;
    --ram-icon-white: white;
    --ram-icon-light-blue: #66a3ff;
    --ram-icon-black: black;
    --ram-icon-disabled: grayscale(1) opacity(0.5);
    --ram-icon-main-color: var(--eclipse_8-color);
    --ram-icon-variable-color: var(--eclipse_8-color);
}

i.ram_icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    display: inline-table;
    font-family: 'icoram' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 15px;
    line-height: 1;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ram_icon.x14 {
    width: 1.4rem;
    height: 1.4rem;
}

    .ram_icon.toggle:before {
        content: "\e915";
    }

    .ram_icon.toggle.open:before {
        content: "\e916";
    }

    .ram_icon.scan:before {
        content: "\e900";
    }

    .ram_icon.file:before {
        content: "\e901";
    }

    .ram_icon.edit:before {
        content: "\e902";
    }
    .ram_icon.settings:before {
        content: "\e903";
    }

    .ram_icon.help:before {
        content: "\e904";
    }
    .ram_icon.logout:before {
        content: "\e905";
    }
    .ram_icon.bell:before {
        content: "\e906";
    }

    .ram_icon.signall:before {
        content: "\e907";
    }

    .ram_icon.fireicon:before {
        content: "\e908";
    }
    .ram_icon.access_codes:before {
        content: "\e909";
    }

    .ram_icon.network:before {
        content: "\e90a";
    }

    .ram_icon.panels:before {
        content: "\e90b";
    }
    .ram_icon.inputs:before {
        content: "\e90c";
    }

    .ram_icon.input_groups:before {
        content: "\e90e";
    }
    .ram_icon.outputs:before {
        content: "\e90d";
    }
    .ram_icon.fat_fbf:before {
        content: "\e90c";
    }

    .ram_icon.zones:before {
        content: "\e90f";
        padding-left: 1px;
    }

    .ram_icon.peripheral_devices:before {
        content: "\e910";
    }

    .ram_icon.loop_devices:before {
        content: "\e911";
    }

    .ram_icon.hide:before {
        content: "\e915";
    }
    .ram_icon.sensor_iris:before {
        content: "\e912";
    }

    .ram_icon.arrow_left:before {
        content: "\e913";
    }

    .ram_icon.arrow_right:before {
        content: "\e914";
    }
    .ram_icon.add_device:before {
        content: "\e917";
    }
    .ram_icon.show:before {
        content: "\e916";
    }
    .ram_icon.burger:before {
        content: "\e919";
    }
    .ram_icon.usb:before {
        content: "\e91a";
    }

    .ram_icon.rs232:before {
        content: "\e91b";
    }

    .ram_icon.rs232 {
        padding: 6px 0;
        font-size: 18px;
    }
.ram_icon.minus {
    background-image: url(../images/icons/26-minus.svg);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
}

.ram_icon.rot45 {
    transform: rotate(45deg);
}

a .ram_card .ram_icon.bell, a .ram_card .ram_icon.fireicon, a .ram_card .ram_icon.signall {
    filter: var(--ram-icon-disabled);
}
    a .ram_card .ram_icon.bell:hover {
        color: var(--eclipse_8-color);
        filter: none;
    }

    a .ram_card .ram_icon.fireicon:hover {
        color: var(--iris_panel-color);
        filter: none;
    }

    a .ram_card .ram_icon.signall:hover {
        color: var(--tte_combo-color);
        filter: none;
    }

.fa-solid.fa-arrows-to-circle {
    filter: var(--ram-icon-disabled);
}

.ram_icon:not(.logout) {
    color: #818181;
}

.ram_icon.logout {
    color: var(--ram-icon-white);
    filter: none;
}

.ram_icon.toggle:hover {
    color: var(--ram-icon-black);
}

.ram_card:hover .ram_icon,
.ram_card.active .ram_icon,
.ram_btn:not(.ram_toggle_btn):hover .ram_icon,
.ram_list_group_item:hover .ram_icon,
.ram_list_group_item.active .ram_icon {
    color: inherit;
}

.ram_btn.ram_btn_main:hover .ram_icon,
.ram_btn.ram_btn_main.active .ram_icon {
    color: var(--ram-icon-main-color);
}


#ram_sidebar .ram_show_panel_add .ram_icon {
    color: var(--ram-icon-main-color);
}

#ram_sidebar .ram_show_panel_add:hover .ram_icon,
#ram_sidebar .ram_show_panel_add.active .ram_icon {
    color: var(--ram-icon-light-blue);
}

.ram_rot_btn {
    position: absolute;
    top: 5px;
    right: 5px;
}