:root {
    --ram-main-color: #0064ff;
    --ram-hover-main-color: #66a3ff;
    --ram-box-shadow-red: 0 0 0px 3px #ff2b40;
    --ram-box-shadow-green: 0 0 0px 3px #bbff00;
    --ram-box-shadow-blue: 0 0 0px 3px var(--ram-main-color);
    --ram-icon-color-grey: invert(82%) sepia(0%) saturate(683%) hue-rotate(341deg) brightness(97%) contrast(100%);
    --ram-icon-color-red: invert(30%) sepia(63%) saturate(4973%) hue-rotate(339deg) brightness(101%) contrast(101%);
    --ram-icon-color-green: invert(70%) sepia(54%) saturate(511%) hue-rotate(45deg) brightness(96%) contrast(93%);
    --ram-icon-color-blue: invert(26%) sepia(64%) saturate(6323%) hue-rotate(214deg) brightness(105%) contrast(103%);
    --ram-panel-1-bg-color: #E6ECF4;
    --ram-panel-2-bg-color: #E1E6ED;
    --ram-panel-add-bg-color: #DAE0E7;
    --fixed-button-max-height: 4.2em;
    --ram-btn-main-hover-color: #DCE4EF;
    --ram-btn-light-color: #f5f5f5;

    --eclipse_8-color: #0064ff;
    --tte_combo-color: #87d23d;
    --iris_panel-color: #ff484b;
}

/* SIDEBAR */

/* sidebar buttons */
.ram_btn {
    display: inline-flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    position: relative;
}

    .ram_btn.ram_toggle_btn {
        background-color: transparent;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ram_btn:not(.ram_toggle_btn) {
        box-shadow: 2px 2px 5px #dde2ef;
    }

    .ram_btn.btn_circle {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        box-shadow: 1px 2px 3px #a1a1a1;
        background-color: #cbcbcb;
    }
    /*used in WPF*/
    /*.ram_btn.btn_circle.logout {
        background-image: url(../images/icons/19-log-out.svg);
        background-position: center center;
        background-size: cover;
    }*/
    /*used in WPF*/
    /*.ram_btn.btn_circle.flag_bg {
        background: url(../images/bg.png);
        background-position: center center;
        background-size: cover;
    }*/

    .ram_btn.btn_grey {
        background-color: #cbcbcb;
    }
    .ram_btn.btn_grey:hover {
        background-color: #cbcbcbbd;
    }
    /*used in WPF*/
    /*.ram_btn.btn_light:hover {
        background-color: #e9e9e9bd;
    }*/
    /*used in WPF*/
    /*.btn.ram_btn.btn_light:hover .ram_icon{
        filter: invert(30%) sepia(63%) saturate(4973%) hue-rotate(339deg) brightness(101%) contrast(101%);
    }*/
    .ram_btn.btn_white {
        background-color: #ffffff;
        max-height: var(--fixed-button-max-height);
    }

    .btn.ram_btn.btn_white:hover{
        background-color: #ffffffc7;
    }
    /*modified*/
.btn.ram_btn.btn_white.fire:hover .ram_icon {
    /*filter: invert(30%) sepia(63%) saturate(4973%) hue-rotate(339deg) brightness(101%) contrast(101%);*/
    color: var(--iris_panel-color);
}
    /*added lately*/
    .btn.ram_btn.btn_white.normal:hover .ram_icon {
        color: var(--eclipse_8-color);
    }
    /*added lately*/
    .btn.ram_btn.btn_white.grasse:hover .ram_icon {
        color: var(--tte_combo-color);
    }
    /*modified*/
    .ram_btn .ram_btn_title {
        margin-left: 3px;
        font-size: 10px;
        font-weight: 600;
        max-width: 9em;  /*set the maximum width of the div*/ 
        white-space: normal; /* allow the text to wrap onto new lines up until the max-height of the element*/
        overflow: hidden; /* hide any text that overflows the maximum width */
        text-overflow: ellipsis; /* show an ellipsis at the end of the truncated text */
        overflow-wrap: break-word; /* allow the text to wrap within words */
        max-height: inherit;
    }

/* ANIMATE */
.ram_animate {
    transition: all 0.3s ease;
}

.ram_btn,
.ram_cards,
.ram_card_img,
.ram_card_img img,
#ram_sidebar_menu .accordion-button {
    transition: all 0.5s ease;
}

#ram_toggle_sidebar {
    position: relative;
}

#ram_sidebar {
    position: sticky;
    margin: auto;
    height: 100%;
    border-radius: 10px;
    min-width: 280px;
    width: 280px;
    transition: 0.3s ease;
    z-index: 999;
}

/*added lately*/
#ram_sidebar.fullopen {
    max-width: 100%;
    width: 100%;
}

/*CLOSED*/

    #ram_sidebar.closed,
    .ram_resizable.closed {
        min-width: 80px;
        width: 80px;
    }

        .ram_resizable.closed#ram_panel_add {
            min-width: 260px;
            width: 260px;
        }

        .ram_resizable.closed .ram_card .ram_add_btn {
            top: 0;
            right: 2px;
        }

        #ram_sidebar.closed .ram_btn.ram_sm_show {
            display: inline-flex;
        }

        .ram_resizable.closed .ram_card {
            min-width: auto;
            width: auto;
            padding: 0px;
            height: 50px;
            justify-content: center;
        }

        .ram_resizable.closed#ram_panel_add .ram_card {
            max-width: 50px;
        }

        .ram_resizable.closed .ram_card .ram_card_img {
            padding: 4px;
            margin-top: 5px;
            display: flex;
            align-items: center;
        }

            .ram_resizable.closed .ram_card .ram_card_img img {
                width: 30px;
                height: 30px;
            }

        .ram_resizable.closed p {
            font-size: 0.7rem;
        }

.ram_resizable:not(.closed) #rmvBtn {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.ram_resizable #rmvBtn:hover {
    background: #ff000033;
} 

        #ram_sidebar.closed .ram_btn_title,
        #ram_sidebar.closed .accordion span,
        #ram_sidebar.closed .accordion .ram_list_group_item span,
        .ram_resizable.closed:not(#ram_panel_add) .ram_btn_title,
        .ram_resizable.closed .ram_card .ram_card_title {
            visibility: hidden;
            /*min-width: 100px;*/
            font-size: 10px;
            width: auto;
            background-color: white;
            color: #828282;
            box-shadow: 2px 0px 6px #0000004f;
            text-align: center;
            border-radius: 10px;
            padding: 5px 10px;
            position: absolute;
            top: auto;
            left: 0%;
            transform: translateY(-80%);
            z-index: 10000;
        }

        #ram_sidebar.closed .ram_btn:hover .ram_btn_title,
        .ram_resizable.closed .ram_btn:hover .ram_btn_title,
        #ram_sidebar.closed .ram_card:hover .ram_card_title,
        .ram_resizable.closed .ram_card:hover .ram_card_title,
        #ram_sidebar.closed .accordion .accordion-button:hover span,
        #ram_sidebar.closed .accordion .ram_list_group_item:hover span {
            visibility: visible;
        }

        #ram_sidebar.closed .ram_sidebar_content {
            overflow-y: auto;
            overflow-x: hidden;
        }

        .ram_resizable.closed .ram_panel_content {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: calc(100vh - 133px);
        }

.ram_resizable.closed:has(#rmvBtn) .ram_panel_content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 179px);
}

        #ram_sidebar.closed .ram_sidebar_bottom {
            background-color: transparent;
        }

        #ram_sidebar.closed .ram_fixed_bottom,
        .ram_resizable.closed:not(#ram_panel_add) .ram_fixed_bottom {
            flex-direction: column;
            padding-bottom: 17px;
        }

        #ram_sidebar.closed .accordion-button {
            margin-bottom: 10px;
            padding: 4px;
            height: 46px;
            justify-content: center;
        }

        #ram_sidebar.closed .accordion .ram_list_group_item {
            justify-content: center;
        }

            #ram_sidebar.closed .accordion .ram_list_group_item .ram_list_item_content,
            #ram_sidebar.closed .accordion .ram_list_group_item .ram_icon {
                padding: 0;
                margin: 0;
            }

#ram_sidebar.closed .ram_settings .ram_btn .ram_icon:not(.toggle, .logout),
.ram_resizable.closed:not(#ram_panel_add) .ram_settings .ram_btn .ram_icon:not(.toggle) {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.ram_resizable.closed:not(.ram_settings) .ram_cards .ram_icon:not(.add_device):not(.edit) {
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#ram_sidebar.closed .ram_settings,
.ram_resizable.closed:not(#ram_panel_add) .ram_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}

        #ram_sidebar.closed .ram_btn.ram_sm_hide,
        #ram_sidebar.closed .ram_fixed_top .ram_btn,
        #ram_sidebar.closed .accordion-button:after,
        #ram_sidebar.closed .accordion .ram_icon.add_device {
            display: none;
        }

    #ram_sidebar .accordion-body .ram_icon {
        margin-right: 6px;
    }

    #ram_sidebar .ram_sidebar_content,
    .ram_panel .ram_panel_content {
        padding: 15px;
    }

.ram_panel .ram_panel_content {
    margin-top: 12px;
    padding-top: 3px;
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
    max-height: calc(100vh - var(--fixed-button-max-height) - 20px);
}

    /*NEW STYLE*/
.ram_panels {
    display: flex;
    height: 100vh;
    border-radius: 0 10px 10px 0;
    /*height: calc(100vh - var(--ram-top-nav-height));*/
}

.ram_panel {
    min-width: 180px;
    width: 180px;
    position: relative;
}

#ram_panel_1 {
    background-color: var(--ram-panel-1-bg-color);
    z-index: 1002;
}

#ram_panel_2 {
    background-color: var(--ram-panel-2-bg-color);
    z-index: 1001;
}

#ram_panel_add {
    background-color: var(--ram-panel-add-bg-color);
    border-radius: inherit;
    min-width: 360px;
    width: 360px;
    z-index: 1000;
}

    #ram_panel_add.show {
        margin-left: 0;
    }

.ram_fixed_top,
.ram_fixed_bottom {
    position: absolute;
    top: 0;
    /*min-height: var(--ram-top-nav-height);*/
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 5px;
}

.ram_fixed_bottom {
    bottom: 0;
    top: auto;
}

    .ram_fixed_bottom .ram_settings {
        display: flex;
        /*width: 100%;*/
        padding: 10px; /*previously 16px*/
        /*padding-right: 5px;*/ /*previously 10px*/
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        flex: 1;
        /*min-width: 115px;*/ /*previously 150px*/
    }

.ram_settings.middle {
    display: flex;
    justify-content: center;
}
    /*NEW STYLE END*/

/* RESIZERS */
.ram_resizer {
    position: absolute;
    top: 0;
    right: -8px;
    width: 10px;
    height: 100%;
    display: block;
    cursor: col-resize;
    z-index: 2;
}

/* Cards */
.ram_cards {
    display: flex;
    flex-direction: column;
    align-content:baseline;
    gap: 10px;
}

.ram_card {
    padding: 5px;
    padding-top: 12px;
    /*margin: auto;*/
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 0px 6px #0000001A;
    background-color: #f5f5f5;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: all 0.5s ease, box-shadow 0.2s ease;
}

    .ram_card:hover,
    .ram_card.active {
        background-color: white;
        cursor: pointer;
    }

    /*modified*/

    .ram_card.fire.active {
        box-shadow: var(--ram-box-shadow-red);
    }
    .ram_card.fire:hover .ram_icon,
    .ram_card.fire.active .ram_icon,
    .ram_card.fire:hover .fa-solid,
    .ram_card.fire.active .fa-solid {
        /*filter: invert(23%) sepia(99%) saturate(4302%) hue-rotate(352deg) brightness(88%) contrast(132%);*/
        color: var(--iris_panel-color);
    }

    /*modified*/
    .ram_card.normal.active {
        box-shadow: var(--ram-box-shadow-blue);
    }
    .ram_card.normal:hover .ram_icon,
    .ram_card.normal.active .ram_icon,
    .ram_card.normal:hover .fa-solid,
    .ram_card.normal.active .fa-solid {
        color: var(--eclipse_8-color);
    }

    /*modified*/
    .ram_card.normal.active {
        box-shadow: var(--ram-box-shadow-green);
    }
    .ram_card.grasse:hover .ram_icon,
    .ram_card.grasse.active .ram_icon,
    .ram_card.grasse:hover .fa-solid,
    .ram_card.grasse.active .fa-solid {
        color: var(--tte_combo-color);
    }

    .ram_card .ram_card_img {
        width: auto;
        height: 30px;
    }

        .ram_card .ram_card_img img {
            width: inherit;
            height: inherit;
            object-fit: contain;
            filter: grayscale(1) opacity(0.5);
        }

        .ram_card .ram_card_img .ram_icon,
        .ram_card .ram_card_img_top .ram_icon {
            font-size: 34px;
            cursor: pointer;
        }

.ram_card_title, .ram_btn_title, .ram_list_group_item span, .ram_list_group_item.active span {
    transition: color 0.5s ease;
}

.ram_card .ram_card_title {
    color: #cbcbcb;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    display: inline;
}

.ram_card:hover .ram_card_title,
.ram_card.active .ram_card_title {
    color: rgb(0, 0, 0);
}

.ram_responsive.closed .ram_card .ram_card_title {
    display: none;
}

.ram_card img {
    height: 30px;
    filter: grayscale(1) opacity(0.5);
}

.ram_card:hover img,
.ram_card.active img {
    /*height: 30px;*/
    filter: none;
}

.ram_card .ram_icon {
    display: flex;
    width: 30px;
    height: 30px;
}

    .ram_card .ram_icon.add_device,
    .ram_card .ram_icon.edit {
        width: 11px;
        height: 11px;
    }

    .ram_card .ram_icon.add_device.x14 {
        width: 14px;
        height: 14px;
    }

.ram_card .ram_add_btn {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    right: 6px;
    color: #7e808f;
}

/*OLD STYLE*/
#ram_sidebar #ram_devices_3 .ram_cards {

    flex-direction: row;
    flex-wrap: wrap;
}

#ram_sidebar #ram_devices_3 .ram_card {
    flex: 1 0 25%;
    min-width: 150px;
    height: auto;
}

#ram_sidebar #ram_devices_3 .ram_card img {
    height: 78px;
}

#ram_sidebar #ram_devices_2 .ram_card .ram_card_title,
#ram_sidebar #ram_devices_3 .ram_card .ram_card_title {
    font-size: 10px;
}
/*END OLD STYLE*/

/* acordion */

#ram_sidebar_menu {
    width: 100%;
    background-color: transparent;
    border: none;
}

#ram_sidebar_menu .accordion-button {
    background-color: #f5f5f5;
    padding: 10px 10px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 5px #dde2ef;
    border-radius: 5px;
}

#ram_sidebar .accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
}

#ram_sidebar .accordion-item {
    background-color: transparent;
    border: none;
    box-shadow: 2px 3px 15px #0000001A;
}

#ram_sidebar .accordion span {
    padding: 0 3px;
    margin-left: 2px;
    font-size: 14px;
    font-weight: 600;
}

#ram_sidebar .accordion-body {
    padding: 0;
    /*border-radius: 0 0 10px 10px;*/
    margin-top: -6px;
}

#ram_sidebar .accordion-body .ram_icon{
    margin-right: 6px;
}

#ram_sidebar .ram_list_group {
    padding-left: 0;
    padding-top: 10px;
    background-color: #f5f5f5;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
}

#ram_sidebar .ram_list_group_item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
    cursor: pointer;
}

    #ram_sidebar .ram_list_group_item .ram_list_item_content {
        padding-left: 20px;
        padding-right: 6px;
    }

#ram_sidebar .ram_list_group_item span {
    font-size: 0.8rem;
    color: #919191;
}

#ram_sidebar .ram_list_group_item:hover,
#ram_sidebar .ram_list_group_item.active {
    background-color: white;
}

#ram_sidebar .ram_list_group_item:hover span,
#ram_sidebar .ram_list_group_item.active span{
    color: black;
}
/*modified*/
#ram_sidebar .accordion-item.normal .accordion-header .ram_icon,
#ram_sidebar .accordion-item.normal .accordion-header .accordion-button::after {
    filter: var(--ram-icon-color-blue);
}
/*added lately*/
#ram_sidebar .accordion-item.normal .accordion-header .accordion-button:not(.collapsed)::after {
    filter: hue-rotate(0deg);
}
/*modified*/
#ram_sidebar .accordion-item.fire .accordion-header .ram_icon,
#ram_sidebar .accordion-item.fire .accordion-header .accordion-button::after {
    filter: var(--ram-icon-color-red);
}
/*added lately*/
#ram_sidebar .accordion-item.fire .accordion-header .accordion-button:not(.collapsed)::after {
    filter: hue-rotate(120deg);
}
/*modified*/
#ram_sidebar .accordion-item.grasse .accordion-header .ram_icon,
#ram_sidebar .accordion-item.grasse .accordion-header .accordion-button::after {
    filter: var(--ram-icon-color-green);
}
/*added lately*/
#ram_sidebar .accordion-item.grasse .accordion-header .accordion-button:not(.collapsed)::after {
    filter: invert(70%) sepia(54%) saturate(511%) hue-rotate(45deg) brightness(96%) contrast(93%);
}
/*modified*/
#ram_sidebar .accordion-item.normal .ram_list_group_item:hover .ram_icon,
#ram_sidebar .accordion-item.normal .ram_list_group_item.active .ram_icon,
#ram_sidebar .accordion-item.normal .ram_list_group_item:hover .fa-solid,
#ram_sidebar .accordion-item.normal .ram_list_group_item.active .fa-solid {
    color: var(--eclipse_8-color);
}
/*modified*/
#ram_sidebar .accordion-item.grasse .ram_list_group_item:hover .ram_icon,
#ram_sidebar .accordion-item.grasse .ram_list_group_item.active .ram_icon,
#ram_sidebar .accordion-item.grasse .ram_list_group_item:hover .fa-solid,
#ram_sidebar .accordion-item.grasse .ram_list_group_item.active .fa-solid {
    color: var(--tte_combo-color);
}
/*modified*/
#ram_sidebar .accordion-item.fire .ram_list_group_item:hover .ram_icon,
#ram_sidebar .accordion-item.fire .ram_list_group_item.active .ram_icon,
#ram_sidebar .accordion-item.fire .ram_list_group_item:hover .fa-solid,
#ram_sidebar .accordion-item.fire .ram_list_group_item.active .fa-solid {
    color: var(--iris_panel-color);
}

/* Modal */
label.contents {
    display: contents;
}

/*RAM PANEL ADD*/
#ram_panel_add {
    background-color: var(--ram-panel-add-bg-color);
    border-radius: inherit;
    min-width: 360px;
    width: 360px;
    z-index: 1000;
}

    #ram_panel_add.show {
        margin-left: 0;
    }

    #ram_panel_add .ram_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #ram_panel_add.closed .ram_cards {
        gap: 5px;
        grid-template-columns: repeat(4, 1fr);
    }

#ram_panel_add:not(.closed) .ram_card .ram_card_img {
    width: 90px;
    height: 60px;
}

    /* Main */
    #ram_main_wrapper {
        display: flex;
        flex-direction: row;
        position: relative;
    }

.ram_main {
    transition: 0.3s ease;
    padding: 30px;
    height: 100vh;
    overflow: auto;
    padding: 30px;
    margin: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}