/* poppins-200 - devanagari_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('imports/webfonts/Poppins/poppins-v20-devanagari_latin_latin-ext-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('imports/webfonts/Poppins/poppins-v20-devanagari_latin_latin-ext-200.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - devanagari_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('imports/webfonts/Poppins/poppins-v20-devanagari_latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('imports/webfonts/Poppins/poppins-v20-devanagari_latin_latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - devanagari_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('imports/webfonts/Poppins/poppins-v20-devanagari_latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('imports/webfonts/Poppins/poppins-v20-devanagari_latin_latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-800 - devanagari_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('imports/webfonts/Poppins/poppins-v20-devanagari_latin_latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('imports/webfonts/Poppins/poppins-v20-devanagari_latin_latin-ext-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), 
        url(imports/webfonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'), 
        url(imports/webfonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-weight: 400;
    font-style: normal;
    src: local('Material Icons Outlined'), local('MaterialIconsOutlined-Regular'), url('imports/webfonts/iconfont/MaterialIcons-Outlined.woff2') format('woff2');
    font-display: fallback;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.25em; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    margin-right: 0.5em;
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.25em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-right: 0.5em;
}

:root {
    --toph: 0;
    --grasse: #439809;
    --grasse-hov: #08893a;
    --fire: #db3232;
    --fire-hov: #b4210a;
    --normal: #1e73be;
    --normal-hov: #0d91e4;
    --grey: #a4a9ad;
}

/* debugging*/
/**{
    box-sizing: border-box;
    background: rgb(0 100 0 / 0.05) !important;
}*/

body {
    font-size: 0.8rem;
}

h5 {
    color: #eed;
    display: inline;
    /*margin-left: 0.5rem;*/
    font-size: 0.75rem;
}

span.fire,
.fire h5 {
    color: var(--fire);
}

span.normal,
.normal h5 {
    color: var(--normal);
}

span.grass,
.grasse h5 {
    color: var(--grasse);
}

.h5 {
    display: inline;
    /*margin-left: 1rem;*/
    font-size: 0.58rem;
}

.fullHeight {
    height: 100vh;
}

.shortHeight {
    height: calc(100vh - 25px);
}

.shortestHeight {
    height: calc(100vh - 180px);
}

.shorterHeight {
    height: calc(100vh - 120px);
}

a, a:hover {
    text-decoration: none;
}

button {
    border-radius: 2px;
}

.container {
    margin-left: 10px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: calc(1 - 30px);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: calc(1 - 30px);
    }
}

@media (min-width: 576px) {
    .container {
        max-width: calc(1 - 30px);
    }
}

.pb10 {
    padding: 0 !important;
    padding-bottom: 10px !important;
}

.p0 {
    padding: 0 !important;
}

.plr-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.p15 {
    padding: 15px;
}

.pt16 {
    padding-top: 16px !important;
}

.pb16 {
    padding-bottom: 16px !important;
}

.bl {
    border-right: 2px dotted var(--normal); /*#0c2b90;*/
}

    .bl.fire {
        border-right: 2px dotted var(--fire);
    }

    .bl.grasse {
        border-right: 2px dotted var(--grasse); /*#055423;*/
    }

.bt {
    border-top: 2px dotted var(--normal);
}

    .bt.fire {
        border-top: 2px dotted var(--fire);
    }

    .bt.grasse {
        border-top: 2px dotted var(--grasse);
    }

.scroll {
    overflow-x: auto;
    height: calc(100vh - 98px); /* - 98px*/
}

.scroll400 {
    overflow-y: auto;
    height: 400px;
}

.scroll500 {
    overflow-y: auto;
    height: 500px;
}

.lscroll {
    overflow-y: scroll !important;
    /*overflow-y: auto;*/
}

.modal-content {
    background-color: var(--bs-modal-bg);
    padding: 10px;
}

.row.list-group {
    flex-direction: unset;
    margin: 0;
}

    .row.list-group .btnStyle {
        font-family: "Font Awesome 6 Free";
        max-width: 120px;
        max-height: 120px;
        background-color: var(--white);
    }

        .row.list-group .btnStyle.fire .someS h5 {
            color: var(--fire);
        }

        .row.list-group .btnStyle.normal .someS h5 {
            color: var(--normal);
        }

        .row.list-group .btnStyle.grasse .someS h5 {
            color: var(--grasse);
        }

        .row.list-group .btnStyle.active {
            border: none;
        }

.list-group-item {
    border: none;
    /*max-width: 120px;*/
    max-height: 120px;
    background-color: var(--white);
}

    .list-group-item:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .list-group-item:last-child {
        margin-bottom: 3.2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .list-group-item.active {
        z-index: 2;
        color: var(--gray);
        /*background-color: var(--normal);*/
        background-color: var(--white);
        border: 2px solid var(--grey);
    }

.m0 {
    margin: 0px;
}

.m2 {
    margin: 2px;
}

.m15 {
    margin: 15px;
}

.period_range {
    border: 1px solid #181717d2
}

.ml10p {
    margin-left: calc(10px + 2ch) !important;
}

.ml15 {
    margin-left: 15px;
}

.ml25 {
    margin-left: 25px;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px;
}

mb5r {
    margin-bottom: 5rem;
}

mlm5 {
    margin-left: -5px !important;
}
/*
.minh {
    min-height: 51.51px;
}*/

@media (min-width: 350px) {
    .minw {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .modal-dialog {
        max-width: 75%;
        width: max-content;
        /*overflow-y: scroll;*/
        margin: 1.75rem auto;
    }
}

@media (min-width: 520px) {
    .minw {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media (min-width: 650px) {
    .minw {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .modal-dialog {
        max-width: 65%;
        height: auto;
    }
}

a[class^="col"] {
    padding-left: 2px;
    padding-right: 2px;
}

div[class^="someS"] {
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: "Font Awesome 6 Free";
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
}

.btnStyle {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.25em;
    line-height: normal;
    cursor: pointer;
    background-color: var(--grey);
    color: var(--normal);
    border: solid 2px var(--white);
    min-width: 77px;
}

    .btnStyle:hover {
        color: var(--normal-hov);
    }

    .btnStyle.fire {
        color: var(--fire); /*#b4210a;*/
    }

        .btnStyle.fire:hover {
            color: var(--fire-hov);
        }

    .btnStyle.grasse {
        color: var(--grasse);
    }

        .btnStyle.grasse:hover {
            color: var(--grasse-hov);
        }

    .btnStyle.active {
        color: var(--normal-hov);
        border: 2px solid var(--normal-hov);
    }

    .btnStyle.fire.active {
        color: var(--fire-hov);
        border: 2px solid var(--fire-hov);
    }

    .btnStyle.grasse.active {
        color: var(--grasse-hov);
        border: 2px solid var(--grasse-hov);
    }

.image img {
    max-width: 100%;
    height: 166px;
    /*aspect-ratio: 1/1;*/
    object-fit: none;
    mix-blend-mode: color-burn;
}

i.normal {
    color: var(--normal);
    padding: 5px;
}

i.fire {
    color: var(--fire);
    padding: 5px;
}

i.grasse {
    color: var(--grasse);
    padding: 5px;
}

#ctxMenu i, .fa-xmark.normal {
    color: var(--normal);
    background-color: transparent;
}

#ctxMenu.fire i, .fa-xmark.fire {
    color: var(--fire);
    background-color: transparent;
}

#ctxMenu.grasse i, fa-xmark.grasse {
    color: var(--grasse);
    background-color: transparent;
}

#ctxMenu i:hover {
    color: var(--normal-hov);
}

#ctxMenu .fire i:hover {
    color: var(--fire-hov);
}

#ctxMenu .grasse i:hover {
    color: #0a9440;
}

.someS {
    bottom: 0;
    font-size: 0.6rem;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100vw;
    /* Height of the footer*/
    height: 40px;
    background: #f8f9fa !important;
}

a, a:hover {
    text-decoration: none;
}

form {
    margin-bottom: 50px;
}

    form label {
        font-size: 1.2rem;
    }


fieldset {
    /* margin: 2%; */
    padding: 2%;
    border: solid 2px #42485a;
    border-radius: 2px;
    border-bottom: 2mm ridge #42485a5a; /* rgba(220, 220, 220, .6);*/
}

    fieldset label {
        font-size: 0.8rem;
    }

    fieldset legend {
        padding: 0 1rem 0.2rem 1rem;
        font-size: 1.2rem;
        position: relative;
        width: fit-content !important;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

        fieldset legend:before {
            position: absolute;
            content: '';
            height: 0.6rem;
            border-left: 2px solid #42485a;
            left: 0.2rem;
            top: 0.4rem;
            -webkit-transform: skew(-45deg);
            -moz-transform: skew(-45deg);
            transform: skew(-45deg);
        }

        fieldset legend:after {
            position: absolute;
            content: '';
            height: 0.6rem;
            border-right: 2px solid #42485a;
            right: 0.25rem;
            top: 1rem;
            -webkit-transform: skew(-45deg);
            -moz-transform: skew(-45deg);
            transform: skew(-45deg);
        }

    fieldset .bn {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    fieldset fieldset legend {
        font-size: 1rem;
    }

        fieldset fieldset legend:before {
            top: 0.3rem;
        }

        fieldset fieldset legend:after {
            top: 0.8rem;
        }

.wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* text-align: center; */
    min-height: 455px;
    width: calc(92% - 37px);
    background-color: #0c2b9013;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    margin: 16px;
    overflow: hidden;
    z-index: 1;
    padding: 2%;
}

/* visited input-form */
.visited-bgd {
    background: linear-gradient(270deg, #fdf59a, #eee);
    /*border-color: #fdf59a;*/
    box-shadow: 0 0 10px #fdf59a;
}


.form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px 0;
}

    .form-item.roww {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .form-item.roww input:not([type="checkbox"]) {
            -webkit-box-flex: 1;
            flex-grow: 1;
            margin: 0 10px;
            margin-left: 10px;
        }

        .form-item.roww select {
            margin-left: 10px;
        }

        .form-item.roww label {
            margin-bottom: 0;
            font-size: inherit;
        }

        .form-item.roww.mw {
            margin: 0;
            padding: 2px 0;
        }

            .form-item.roww.mw input {
                max-width: 6ch;
            }

        .form-item.roww.flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .form-item.roww:last-child input:not([type="checkbox"]) {
            margin: 0 0 0 10px;
        }

    .form-item:first-child {
        padding-top: 0;
    }

    .form-item:last-child {
        padding-bottom: 0;
    }

    .form-item label, .form-item .item-label {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .form-item .radio-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }

    .form-item .radio-button-box {
        margin-right: 10px;
    }

        .form-item .radio-button-box label {
            display: inline;
        }

    .form-item.disabled {
        pointer-events: none;
    }

        .form-item.disabled .select select {
            background-color: #eee;
        }

        .form-item.disabled input {
            background-color: #eee;
        }

.checkbox-group .form-item.roww {
    padding: 8px 0;
}


.br {
    border-left: 1px solid #181717d2;
}
/*.br:first-child {
    border-left: none;
}*/

.btn-blue {
    background-color: var(--normal);
    border: 1px solid #ffffff;
    color: #f4f4f4;
}

    .btn-blue:hover {
        background-color: #0c91e4;
        color: #ffffff;
    }

.btn-position-right {
    display: flex;
    margin-left: auto;
}


.multi-button .btn-border-black {
    height: 3.125em;
    width: fit-content;
    background-color: #ffffff;
    align-items: center;
    border: 1px solid #42485a;
    color: #42485a;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    min-height: 3.125em;
    margin: -3px;
    position: relative;
}

.multi-button .btn-border-black:nth-child(1) {
    border-radius: 10px 0 0 10px;
    border-right: none;
    padding-left: 2rem;
    /*margin-top: -8px;*/
}
.multi-button :nth-child(2) {
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.multi-button :nth-child(3) {
    border-radius: 0 10px 10px 0;
    padding-right: 2rem;
    border-left: none;
    /*margin-top: -8px;*/
}

.btn-border-black {
    background-color: #ffffff;
    border: 1px solid #42485a;
    color: #42485a;
    max-width: 35vw;
    min-width: 5vw;
}

    .btn-border-black:hover {
        background-color: rgba(118, 118, 118, .6);
        color: #c6cad5;
    }

    .btn-border-black i {
        color: #42485a;
    }

.btn-border-black i {
    padding: 0;
}

.btn-round {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3.125em;
    border-radius: 10px;
    padding: 0 3.2rem;
    text-transform: uppercase;
    font-weight: 700;
    /*font-size: clamp(0.8rem, 0.1rem + 6vw , 1.2rem);*/
    text-align: center;
    min-height: 3.125em;
}

@media only screen and (max-width: 992px) {
    .btn-round {
        padding: 0 1.5rem;
        font-weight: 500;
    }

    .multi-button .btn-border-black:nth-child(1) {
        padding-left: 0.75rem;
        padding-right: 0;
    }

    .multi-button :nth-child(3) {
        padding-right: 0.75rem;
        padding-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .btn-round {
        padding: 0 0;
        font-weight: 300;
    }

    .multi-button .btn-border-black:nth-child(1), .multi-button :nth-child(3) {
        padding: 0 0.2rem;
    }
}

.btn-small {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 0.3125em;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.mt15 {
    margin-top: 15px;
}

.txt-ctr {
    text-align: center;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--normal);
}

input[type='radio'].fire:after {
    border: 2px solid var(--fire);
}

input[type='radio'].grasse:after {
    border: 2px solid var(--grasse);
}

input[type='radio']:checked:after {
    background-color: var(--normal);
}

input[type='radio'].fire:checked:after {
    background-color: var(--fire);
}

input[type='radio'].grasse:checked:after {
    background-color: var(--grasse);
}

.select {
    display: grid;
    grid-template-areas: "select";
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    position: relative;
    height: 30px;
    cursor: pointer;
    line-height: 1.1;
    /*background-color: #fff;*/
}

    .select:disabled {
        pointer-events: none;
    }

    .select select, .select::after {
        grid-area: select;
    }

    .select select {
        height: 25.2px;
        padding: 1px 2px;
    }

input:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px #719ECE;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
}

.context-menu--active {
    display: block;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0.75rem 0 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: none;
    border-radius: 0;
}


.stick {
    top: 10px;
    position: sticky;
    flex-grow: 1;
}

flexicol {
    display: flex !important;
    flex-flow: column;
}
/* collapsible part */
button:focus {
    outline: 1px dotted;
    outline-color: transparent;
}

.collapsible, .collapsible_add {
    background-color: transparent;
    position: relative;
    color: #777;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
}

    .collapsible:before, .collapsible_add:before, .collapsible:after, .collapsible_add:after {
        border-bottom-color: #0c2b90 !important;
        border-right-color: #0c2b90 !important;
    }

.fire.collapsible:before, .fire.collapsible:after, .fire.collapsible_add:before, .fire.collapsible_add:after {
    border-bottom-color: var(--fire) !important;
    border-right-color: var(--fire) !important;
}

.grasse.collapsible:before, .grasse.collapsible:after, .grasse.collapsible_add:before, .grasse.collapsible_add:after {
    border-bottom-color: var(--grasse) !important;
    border-right-color: var(--grasse) !important;
}

.collapsible:hover, .collapsible_add:hover {
    /*text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--normal);*/
    font-weight: 700;
    color: var(--normal);
}

.fire.collapsible:hover, .fire.collapsible_add:hover {
    /*text-decoration-color: var(--fire);*/
    color: var(--fire);
}

.grasse.collapsible:hover, .grasse.collapsible_add:hover {
    /*text-decoration-color: var(--grasse);*/
    color: var(--grasse);
}

.collapsible-content {
    padding: 0 1em;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

    .collapsible-content:last-child:has(select:focus) {
        margin-bottom: 4em;
    }

/*    .collapsible-content:not(has(select:focus)) {
        margin-bottom: 4px;
    }*/

.collapsible:before, .collapsible_add:before {
    content: '\027A4'; /* Unicode character for "arrow" sign (➤) */
    font-size: 0.9em;
    color: #777;
    float: left;
    margin-right: 5px;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: -5px;
    height: 55%;
    width: 100%;
    border-bottom: 3px solid;
    border-right: 4px solid;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    transform: skew(-45deg);
}

.collapsible:after, collapsible_add:after {
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 15px;
    width: 100%;
    /*border-bottom: 3px solid;*/
    border-right: 4px solid;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    transform: skew(-45deg);
    z-index: -1;
}

.cactive:before {
    content: "\025B2"; /* Unicode character for "arrow" sign (▲) */
    color: var(--normal);
}

.fire.cactive:before {
    color: var(--fire);
}

.grasse.cactive:before {
    color: var(--grasse-hov);
}

/* context menu */
#ctxMenu {
    display: none;
    z-index: 100;
}

menu {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: calc(10px + 10em);
    padding: 0;
    margin: 0;
    border: 1px solid;
    border-radius: 2px;
    background-color: white;
    font-weight: normal;
    white-space: nowrap;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}

    menu > menuitem {
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
        cursor: pointer;
        align-items: center;
    }

menuitem {
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-width: 130px;
    width: auto;
    max-width: 200px;
    margin: 2px 0;
    padding: 5px 10px;
    border-bottom: 1px solid;
}

    menuitem:last-of-type {
        border-bottom: none;
    }

    menuitem[title]:after {
        content: attr(title);
    }

    menuitem:hover {
        background-color: #eef;
        font-weight: bold;
    }

/* slider checker */
label {
    font-size: 1.2rem;
    font-weight: 700;
}

p.fire, p.grasse, p.normal {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    /*margin-left: 1rem;*/
    margin-bottom: 0;
}

p.bordered {
    /*background: lightgray;
    border: 1px solid rgba(118, 118, 118);*/
    border-radius: 2px;
    padding-left: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(128, 128, 128, .6);*/
    border: 1px solid rgba(128, 128, 128, .6);
    -webkit-transition: 0.4s;
    border-radius: 5px;
    transition: 0.4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 2px;
        bottom: 2px;
        background-color: var(--grey);
        border: 1px solid rgba(118, 118, 118);
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--normal);
}

.fire input:checked + .slider:before {
    background-color: var(--fire);
}

.grasse input:checked + .slider:before {
    background-color: var(--grasse);
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.fire input[type='checkbox'] {
    filter: brightness(90%) hue-rotate(160deg);
}

.grasse input[type='checkbox'] {
    filter: brightness(120%) hue-rotate(240deg);
}

.without::-webkit-datetime-edit-ampm-field {
    display: none;
}

.without:after {
    content: '',
}
