body {
    font-size: 0.8rem;
}

h5 {
    color: #eed;
    display: inline;
    margin-left: 0.5rem;
    font-size: 0.75rem;
}

.h5 {
    display: inline;
    margin-left: 1rem;
    font-size: 0.58rem;
}

.fullHeight {
    height: 100%;
}

.shortHeight {
    height: calc(100% - 20px);
}

.shortestHeight {
    height: calc(100% - 180px);
}

.shorterHeight {
    height: calc(100% - 120px);
}

a, a:hover {
    text-decoration: none;
}

button {
    border-radius: 2px;
}

.container {
    margin-left: 10px;
}

.pb10 {
    padding: 0 !important;
    padding-bottom: 10px !important;
}

.p0 {
    padding: 0 !important;
}

.plr-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.p15 {
    padding: 15px;
}

.pt16 {
    padding-top: 16px !important;
}

.pb16 {
    padding-bottom: 16px !important;
}

.bl {
    border-right: 2px dotted #1e73be; /*#0c2b90;*/
}

    .bl.fire {
        border-right: 2px dotted #df613e;
    }

    .bl.grasse {
        border-right: 2px dotted #8dc658; /*#055423;*/
    }

.bt {
    border-top: 2px dotted #1e73be;
}

    .bt.fire {
        border-top: 2px dotted #df613e;
    }

    .bt.grasse {
        border-top: 2px dotted #8dc658;
    }

.scroll {
    overflow-y: auto;
    height: calc(100% - 98px);
}

.scroll400 {
    overflow-y: auto;
    height: 400px;
}

.scroll500 {
    overflow-y: auto;
    height: 500px;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    /*background-color: #1e73be;*/
    background-color: #796f77;
    border-color: #796f77;
}

.m0 {
    margin: 0px;
}

.m2 {
    margin: 2px;
}

.m15 {
    margin: 15px;
}

.period_range {
    border: 1px solid #181717d2
}

.ml10p {
    margin-left: calc(10px + 2ch) !important;
}

.ml15 {
    margin-left: 15px;
}

.ml25 {
    margin-left: 25px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

mb5r {
    margin-bottom: 5rem;
}

.minh {
    min-height: 51.51px;
}

@media (min-width: 350px) {
    .minw {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 520px) {
    .minw {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media (min-width: 650px) {
    .minw {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

a[class^="col"] {
    padding-left: 2px;
    padding-right: 2px;
}

div[class^="someS"] {
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: "Font Awesome 6 Free";
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
}

.btnStyle {
    text-align: center;
    /*border: solid 1px #dfd9d9d2;
    border-radius: 8px;
    border-bottom: solid 3px #dfd9d9d2;
    border-right: solid 3px #dfd9d9d2;*/
    margin-bottom: 0.25em;
    line-height: normal;
    cursor: pointer;
    background-color: #1e73be;
}

    .btnStyle:hover {
        background-color: #0d91e4;
    }

    .btnStyle.fire {
        background-color: #df613e; /*#b4210a;*/
    }

        .btnStyle.fire:hover {
            background-color: #b4210a;
        }

    .btnStyle.grasse {
        background-color: #8dc658;
    }

        .btnStyle.grasse:hover {
            background-color: #0bc152;
        }

    /*.btnStyle:hover {
        background-color: #181717d2;
    }*/

    .btnStyle.active {
        background-color: #0d91e4;
    }

    .btnStyle.fire.active {
        background-color: #b4210a;
    }

    .btnStyle.grasse.active {
        background-color: #0bc152;
    }

i {
    color: white; /* #1e73be;*/
}

#ctxMenu i, .fa-xmark {
    color: #1e73be;
}

    #ctxMenu.fire i, .fa-xmark.fire {
        color: #df613e;
    }

#ctxMenu.grasse i, fa-xmark.grasse {
    color: #8dc658;
}

#ctxMenu i:hover {
    color: #0d91e4;
}

#ctxMenu .fire i:hover {
    color: #b4210a;
}

#ctxMenu .grasse i:hover {
    color: #0bc152;
}

.someS {
    bottom: 0;
    font-size: 0.6rem;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: #f8f9fa !important;
}

a, a:hover {
    text-decoration: none;
}

form {
    margin-bottom: 50px;
}

    form label {
        font-size: 1.2rem;
    }


fieldset {
    /* margin: 2%; */
    padding: 2%;
    border: solid 2px #42485a;
    border-radius: 2px;
    border-bottom: 2mm ridge #42485a5a; /* rgba(220, 220, 220, .6);*/
}

    fieldset label {
        font-size: 0.8rem;
    }

    fieldset legend {
        padding: 0 1rem 0.2rem 1rem;
        font-size: 1.2rem;
        position: relative;
        width: fit-content;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
    }

        fieldset legend:before {
            position: absolute;
            content: '';
            height: 0.6rem;
            border-left: 2px solid #42485a;
            left: 0.2rem;
            top: 0.4rem;
            -webkit-transform: skew(-45deg);
            -moz-transform: skew(-45deg);
            transform: skew(-45deg);
        }

        fieldset legend:after {
            position: absolute;
            content: '';
            height: 0.6rem;
            border-right: 2px solid #42485a;
            right: 0.25rem;
            top: 1rem;
            -webkit-transform: skew(-45deg);
            -moz-transform: skew(-45deg);
            transform: skew(-45deg);
        }

    fieldset .bn {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    fieldset fieldset legend {
        font-size: 1rem;
    }

        fieldset fieldset legend:before {
            top: 0.3rem;
        }

        fieldset fieldset legend:after {
            top: 0.8rem;
        }

.wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* text-align: center; */
    min-height: 455px;
    width: calc(92% - 37px);
    background-color: #0c2b9013;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    margin: 16px;
    overflow: hidden;
    z-index: 1;
    padding: 2%;
}

/* visited input-form */
.visited-bgd {
    background: linear-gradient(270deg, #fdf59a, #eee);
    /*border-color: #fdf59a;*/
    box-shadow: 0 0 10px #fdf59a;
}


.form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px 0;
}

    .form-item.roww {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .form-item.roww input:not([type="checkbox"]) {
            -webkit-box-flex: 1;
            flex-grow: 1;
            margin: 0 10px;
            margin-left: 10px;
        }

        .form-item.roww select {
            margin-left: 10px;
        }

        .form-item.roww label {
            margin-bottom: 0;
            font-size: inherit;
        }

        .form-item.roww.mw {
            margin: 0;
            padding: 2px 0;
        }

            .form-item.roww.mw input {
                max-width: 6ch;
            }

        .form-item.roww.flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .form-item.roww:last-child input:not([type="checkbox"]) {
            margin: 0 0 0 10px;
        }

    .form-item:first-child {
        padding-top: 0;
    }

    .form-item:last-child {
        padding-bottom: 0;
    }

    .form-item label, .form-item .item-label {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .form-item .radio-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }

    .form-item .radio-button-box {
        margin-right: 10px;
    }

        .form-item .radio-button-box label {
            display: inline;
        }

    .form-item.disabled {
        pointer-events: none;
    }

        .form-item.disabled .select select {
            background-color: #eee;
        }

        .form-item.disabled input {
            background-color: #eee;
        }

.checkbox-group .form-item.roww {
    padding: 8px 0;
}

.btn-round {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    padding: 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    min-height: 50px;
}

.br {
    border-left: 1px solid #181717d2;
}
/*.br:first-child {
    border-left: none;
}*/

.btn-blue {
    background-color: #1e73be;
    border: 1px solid #ffffff;
    color: #f4f4f4;
}

    .btn-blue:hover {
        background-color: #0c91e4;
        color: #ffffff;
    }

.btn-border-black {
    background-color: #ffffff;
    border: 1px solid #42485a;
    color: #42485a;
}

    .btn-border-black:hover {
        background-color: rgba(128, 128, 128, .6);
        color: #c6cad5;
    }

    .btn-border-black i {
        color: #42485a;
    }

.mt15 {
    margin-top: 15px;
}

.txt-ctr {
    text-align: center;
}

.select {
    display: grid;
    grid-template-areas: "select";
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    position: relative;
    height: 30px;
    cursor: pointer;
    line-height: 1.1;
    /*background-color: #fff;*/
}

    .select:disabled {
        pointer-events: none;
    }

    .select select, .select::after {
        grid-area: select;
    }

    .select select {
        height: 25.2px;
        padding: 1px 2px;
    }

input:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px #719ECE;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
}

.context-menu--active {
    display: block;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0.75rem 0 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: none;
    border-radius: 0;
}


.stick {
    top: 10px;
    position: sticky;
    flex-grow: 1;
}

flexicol {
    display: flex !important;
    flex-flow: column;
}
/* collapsible part */
button:focus {
    outline: 1px dotted;
    outline-color: transparent;
}

.collapsible {
    background-color: transparent;
    position: relative;
    color: #777;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .collapsible:before, .collapsible:active {
        border-bottom-color: #0c2b90 !important;
        border-right-color: #0c2b90 !important;
    }

.fire.collapsible:before, .fire.collapsible:after {
    border-bottom-color: #df613e !important;
    border-right-color: #df613e !important;
}

.grasse.collapsible:before, .grasse.collapsible:after {
    border-bottom-color: #8dc658 !important;
    border-right-color: #8dc658 !important;
}

.collapsible:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #1e73be;
}

.fire.collapsible:hover {
    text-decoration-color: #df613e;
}

.grasse.collapsible:hover {
    text-decoration-color: #8dc658;
}

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.collapsible:before {
    content: '\027A4'; /* Unicode character for "arrow" sign (➤) */
    font-size: 13px;
    color: #777;
    float: left;
    margin-right: 5px;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: -5px;
    height: 55%;
    width: 100%;
    border-bottom: 3px solid;
    border-right: 4px solid;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    transform: skew(-45deg);
}

.collapsible:after {
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 15px;
    width: 100%;
    /*border-bottom: 3px solid;*/
    border-right: 4px solid;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    transform: skew(-45deg);
    z-index: -1;
}

.cactive:before {
    content: "\025B2"; /* Unicode character for "arrow" sign (▲) */
    color: #1e73be;
}

.fire.cactive:before {
    color: #df613e;
}

.grasse.cactive:before {
    color: #08893a;
}

/* context menu */
#ctxMenu {
    display: none;
    z-index: 100;
}

menu {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: calc(10px + 10em);
    padding: 0;
    margin: 0;
    border: 1px solid;
    border-radius: 2px;
    background-color: white;
    font-weight: normal;
    white-space: nowrap;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}

    menu > menuitem {
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
        cursor: pointer;
        align-items: center;
    }

menuitem {
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-width: 130px;
    width: auto;
    max-width: 200px;
    margin: 2px 0;
    padding: 5px 10px;
    border-bottom: 1px solid;
}

    menuitem:last-of-type {
        border-bottom: none;
    }

    menuitem[title]:after {
        content: attr(title);
    }

    menuitem:hover {
        background-color: #eef;
        font-weight: bold;
    }

/* slider checker */
label {
    font-size: 1.2rem;
    font-weight: 700;
}



p.fire {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    margin-left: 1rem;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, .6);
    border: 1px solid rgba(128, 128, 128, .6);
    -webkit-transition: 0.4s;
    border-radius: 5px;
    transition: 0.4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 2px;
        bottom: 2px;
        background-color: #eef;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

.fire .slider:before {
    background-color: #df613e;
}

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
